# Kaggle competition data is not redistributable, see data/README.md
data/*
!data/README.md

# training artifacts & outputs
lightning_logs/
submission*.csv

# notebook & python cruft
.ipynb_checkpoints/
__pycache__/
.DS_Store
